.login{
	-fx-background-color: linear-gradient(to bottom, rgb(26, 42, 108), rgb(178, 31, 31), rgb(253, 187, 45)); background-color:linear-gradient(to right, rgb(26, 42, 108), rgb(178, 31, 31), rgb(253, 187, 45));
}

.login-titulo{
	-fx-font-size: 24px; font-size:24px;
	-fx-text-fill: #FFF;
}

.login-form-label{
	-fx-font-size: 16px; font-size:16px;
	-fx-text-fill: #FFF;
}

.login-form-botao{
	-fx-font-size: 16px; font-size: 16px;
}
